USE [KDTB03_MES_1]
GO
/****** Object:  StoredProcedure [dbo].[SP07_QA_Check_C1_HC]    Script Date: 2023-08-31 오전 2:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		조해찬
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[SP07_QA_Check_C1_HC]
	@COUNT INT,
	@BADWAITINGNO INT,
	@TOTALBAD INT,
	@MAKEDATE DATETIME,
--	@RS_DATEMSG DATETIME,
	@SCHKCODE VARCHAR(30),
	@MAKER VARCHAR(30),
	@PLANTCODE VARCHAR(30),
	@WORKCENTERCODE VARCHAR(30),
	@MATLOTNO VARCHAR(30),
	@P_MAKER VARCHAR(30),
	@ITEMCODE VARCHAR(30),
	@ITEMNAME VARCHAR(30),
	@TOTALNO INT,

	@LANG VARCHAR(10) = 'KO',
	@RS_CODE VARCHAR (1)  OUTPUT,
	@RS_MSG  VARCHAR (100) OUTPUT
AS
BEGIN

DECLARE @LS_CHKCODE  VARCHAR(30)
	   ,@LD_NOWDATE  DATETIME

	SET @LD_NOWDATE = GETDATE()

-- 처음 들어왔을 때
IF (@COUNT = 1)
BEGIN
	SET @LS_CHKCODE = 'W' + REPLACE(REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR,GETDATE(),121),'-',''),':',''),' ',''),'.','')

	-- P_Combine_B와 P_Combine에 데이터를 넣는다. P_BAD_WAITING는 화면에 보여야 하기에 첫 줄은 남겨둔다.
	INSERT INTO P_Combine_B (CHKCODE,     SEQ,    BADWAITINGNO,  ITEMCODE, PLANTCODE, WORKCENTERCODE, MATLOTNO, ITEMNAME, MAKER, MAKEDATE)
	                 VALUES (@LS_CHKCODE, @COUNT, @BADWAITINGNO, @ITEMCODE,   @PLANTCODE, @WORKCENTERCODE, @MATLOTNO, @ITEMNAME, @P_MAKER, @MAKEDATE)
	INSERT INTO P_Combine(CHKCODE, T_BADWAITINGNO, MAKER,  MAKEDATE,   TOTALNO)
				   VALUES(@LS_CHKCODE, @TOTALBAD,  @MAKER, GETDATE(),@TOTALNO)
	DELETE P_BAD_WAITINGNO
	 WHERE MAKEDATE = @MAKEDATE
	   AND BADWAITINGNO = @BADWAITINGNO


END


-- 
IF(@COUNT != 1)
BEGIN

	-- 어떤 데이터가 담겼는지 이력을 남기기 위함
	INSERT INTO P_Combine_B (CHKCODE,  SEQ,    BADWAITINGNO,  ITEMCODE, PLANTCODE, WORKCENTERCODE, MATLOTNO, ITEMNAME, MAKER, MAKEDATE)
	                 VALUES (@SCHKCODE, @COUNT, @BADWAITINGNO, @ITEMCODE,  @PLANTCODE, @WORKCENTERCODE, @MATLOTNO, @ITEMNAME, @P_MAKER, @MAKEDATE)

	-- 결합한 데이터의 총판정대기품수를 담음
	UPDATE P_Combine
	   SET T_BADWAITINGNO = @TOTALBAD
	      ,TOTALNO = TOTALNO + @TOTALNO
	 WHERE CHKCODE = @SCHKCODE;

	-- 첫 째줄의 datetime을 키포인트로 사용하여 총 수량 업
	-- 진행되는 줄의 데이터는 삭제
	 DELETE P_BAD_WAITINGNO
	  WHERE MAKEDATE = @MAKEDATE
		AND BADWAITINGNO = @BADWAITINGNO

END

	SET @RS_CODE = 'S'
	SET @RS_MSG = @LS_CHKCODE

END

